
@{
    ViewData["Title"] = "Resources";
}

<div class="row">
    <div class="col">
        <h1 class="light-heading">Resources</h1>
        <ul>
            <li><a href="https://evalexpressweb.azurewebsites.net/">Fully working APP on Azure<br></a></li>
            <li><a href="https://evalexpressapi.azurewebsites.net/api/pulse" target="_blank">Fully working API on Azure<br></a></li>
            <li><a href="https://github.com/cyberzenno/ul-eval-express" target="_blank">Source Code on GitHub<br></a></li>
            <li><a href="https://eval-express.bss.design/" target="_blank">Design Only app on Bootstrap Studio hosting<br></a></li>
        </ul>
    </div>
    <div class="col"></div>
</div>

